<div class="side-panel">
    <p>
        fdsohfgoshjgpjoisghoihgoihoighoihgoihsoighoihgokisfghfg
    </p>
    <p>
        fdsohfgoshjgpjoisghoihgoihoighoihgoihsoighoihgokisfghfg
    </p>
    <p>
        fdsohfgoshjgpjoisghoihgoihoighoihgoihsoighoihgokisfghfg
    </p>
    <p>
        fdsohfgoshjgpjoisghoihgoihoighoihgoihsoighoihgokisfghfg
    </p>
    <p>
        fdsohfgoshjgpjoisghoihgoihoighoihgoihsoighoihgokisfghfg
    </p>
    <p>
        fdsohfgoshjgpjoisghoihgoihoighoihgoihsoighoihgokisfghfg
    </p>
    <p>
        fdsohfgoshjgpjoisghoihgoihoighoihgoihsoighoihgokisfghfg
    </p>
    <p>
        fdsohfgoshjgpjoisghoihgoihoighoihgoihsoighoihgokisfghfg
    </p>
</div>