<div class="side-panel">
    <br>

    <div class="image">
        <img [src]="'assets/images/headshot.jpeg'" >
    </div>
    <div>
      <p>
        this is just some dfjsdhbisdfbdsfhjodhf
        fdsfasgfh fdtgvsdfbvdab  bdsvgdbdby vsdbtryu
      </p>
      <p>
        this is just some dfjsdhbisdgojds bgfhods
        fdsfasgfh fdtgvsdfbvdab  bdsvgdbdby vsdbtryu t
        trcrwt4t rtetretwftb
      </p>
      <p>
        this is just some dfbdsfhjodhfgojds bgfhods
        fdsfasgfh fdtgvsdfbvdab  bdsvgdbdb
        trcrwt4t rtetretwftb
      </p>
      <p>
        this is just some dfodhfgojds bgfhods
        fdsfasgfh fdtgvsdfbvdab  bdsvgdbdby vsdbt
        trcrwt4t rtetretwftb
      </p>
      <p>
        this is just some dfhjodhfgojds bgfhods
        fdsfasgfh fdtgvsdfbvdab  bdsvgdbdby vsdbtryu
        trcrwt4t rtetretwftb
      </p>
      <p>
        this is just some dfhjodhfgojds bgfhods
        fdsfasgfh fdtgvsdfbvdab  bdsvgdbdby vsdbtryu
        trcrwt4t rtetretwftb
      </p>
      <p>
        this is just some dfhjodhfgojds bgfhods
        fdsfasgfh fdtgvsdfbvdab  bdsvgdbdby vsdbtryu
        trcrwt4t rtetretwftb
      </p>
      <p>
        this is just some dfhjodhfgojds bgfhods
        fdsfasgfh fdtgvsdfbvdab  bdsvgdbdby vsdbtryu
        trcrwt4t rtetretwftb
      </p>
      <p>
        this is just some dfhjodhfgojds bgfhods
        fdsfasgfh fdtgvsdfbvdab  bdsvgdbdby vsdbtryu
        trcrwt4t rtetretwftb
      </p>
      <p>
        this is just some dfhjodhfgojds bgfhods
        fdsfasgfh fdtgvsdfbvdab  bdsvgdbdby vsdbtryu
        trcrwt4t rtetretwftb
      </p>
      <p>
        this is just some dfhjodhfgojds bgfhods
        fdsfasgfh fdtgvsdfbvdab  bdsvgdbdby vsdbtryu
        trcrwt4t rtetretwftb
      </p>
      <p>
        this is just some dfhjodhfgojds bgfhods
        fdsfasgfh fdtgvsdfbvdab  bdsvgdbdby vsdbtryu
        trcrwt4t rtetretwftb
      </p>
      <p>
        this is just some dfhjodhfgojds bgfhods
        fdsfasgfh fdtgvsdfbvdab  bdsvgdbdby vsdbtryu
        trcrwt4t rtetretwftb
      </p>
      <p>
        this is just some dfhjodhfgojds bgfhods
        fdsfasgfh fdtgvsdfbvdab  bdsvgdbdby vsdbtryu
        trcrwt4t rtetretwftb
      </p>
      <p>
        this is just some dfhjodhfgojds bgfhods
        fdsfasgfh fdtgvsdfbvdab  bdsvgdbdby vsdbtryu
        trcrwt4t rtetretwftb
      </p>
      <p>
        this is just some dfhjodhfgojds bgfhods
        fdsfasgfh fdtgvsdfbvdab  bdsvgdbdby vsdbtryu
        trcrwt4t rtetretwftb
      </p>
      <p>
        this is just some dfhjodhfgojds bgfhods
        fdsfasgfh fdtgvsdfbvdab  bdsvgdbdby vsdbtryu
        trcrwt4t rtetretwftb
      </p>
      <p>
        this is just some dfhjodhfgojds bgfhods
        fdsfasgfh fdtgvsdfbvdab  bdsvgdbdby vsdbtryu
        trcrwt4t rtetretwftb
      </p>
      <p>
        this is just some dfhjodhfgojds bgfhods
        fdsfasgfh fdtgvsdfbvdab  bdsvgdbdby vsdbtryu
        trcrwt4t rtetretwftb
      </p>
      <p>
        this is just some dfhjodhfgojds bgfhods
        fdsfasgfh fdtgvsdfbvdab  bdsvgdbdby vsdbtryu
        trcrwt4t rtetretwftb
      </p>

    </div>

</div>
