<div class="main-panel">
  <div class="details">
    <div class="name">Goodwill Tshekela</div>
    <div class="job-title">Software Developer at BBD</div>
    <div class="work-area">Johannesburg Area, South Africa</div>
  </div>
  <div class="new-section">Summary</div>
  <div class="summary-content" *ngFor="let summaryItem of summaryItems">
    <div class="summary-item-header">{{summaryItem.header}}</div>
    <p *ngFor="let paragraph of summaryItem.paragraphs">
      {{paragraph}}
    </p>
  </div>

  <div class="new-section">Experience</div>
  <div class="experience-content" *ngFor="let experience of experiences">
    <div class="experience-title">{{experience.title}}</div>
    <div class="experience-subtext">{{experience.duration}}</div>
    <div class="experience-subtext">{{experience.area}}</div>
    <p *ngFor="let para of experience.details">{{para}}</p>
  </div>

  <div class="new-section">Education</div>
  <div class="education-content" *ngFor="let item of education">
    <div class="education-institute">{{item.institute}}</div>
    <div class="education-course">{{item.course}}, {{item.duration}}</div>
  </div>
  <div class="space-div"></div>
</div>
